
#SearchBar-Input{
	margin-top: 25px;
}

#container li .ms-ListItem-secondaryText {
	margin-top: 2px;
	margin-bottom: 4px;

}

#container li .ms-ListItem-secondaryText > img {
	max-height: 1.5em;
	margin-right: 3px;
}

.user{
	padding-bottom: 1px
}
.user:hover, .issue:hover {
	background-color: #eaeaea;
}
.user-img{
	max-height: 2em;
	padding-right:1em;
}

#clabList span > div{
	padding-top:5px;
}


